<div class="error_message">
<% if @error %>
    <%= @error%>
<%end%>
</div>

<div class="login_container" >
    <div class="login_box" >
        <h1> Log In </h1>

        <%= form_tag "/sessions" do  %>
            <%= label_tag :name %><br>
            <%= text_field_tag :name %><br>
            <%= label_tag :password %> <br>
            <%= password_field_tag :password %><br>
            <br>
            <%= submit_tag "Log In"%>
            <br>
            <br>
        <%end%>
    <div>
</div>