

<div class="pets_container" > 
    <div class="card" style="max-width: 20rem; padding: 1em; border:solid">
        <div>
            <% @pets.each do |pet| %>
                <a href = <%= pet_path(pet) %> >
                <%= image_tag (pet.image_url), class: "card-img-top"%> 
                </a>
                <div class="card-body">
                    <h5 class="card-title"><%= pet.name %></h5>
                    <p class="card-text"><%= pet.bio[0..50]%>....</p>
                    <a href= <%= pet_path(pet) %> class="btn btn-primary">Read More</a>
                </div>    
            <% end %>
        </div>   
    </div>
</div> 