<h1><%= @pet.name %>'s Profile </h1>

<%= image_tag (@pet.image_url) %><br>
<br>
<strong>Species:</strong> <%= @pet.species.titleize %><br>
<br>
<strong>Gender:</strong> <%= @pet.gender.titleize %><br>
<br>
<strong>Bio:</strong> <%= @pet.bio %>
<br>
<br>
<strong>Adoption Status:</strong> <%= @pet.adoption_status %>
<br>
<br>

<strong><%= @pet.name%>'s Reviews: </strong><br><br>
<%@pet.reviews.each do |review|%>
    <div style= "border:solid; margin:10px" >
    Rating: <%= review.rating%><br><br>
    Review: <%= review.content%><br>
    </div>
<%end%>

<br>


<hr>
<nav>
    <%=link_to "Review A Pet!", new_review_path %><br> <!-- figure out function for user, not index-->
    <br>
    <%=link_to "Rent A Pet!", new_rent_path %><br> <!-- figure out function for user, not index-->
    <br>
    <%=link_to "Adopt A Pet!", new_adoption_path %><br> <!-- figure out function for user, not index-->
    <br>
</nav>