<h1><%= @pet.name %>'s Profile </h1>

<strong>Species:</strong> <%= @pet.species.titleize %><br>
<br>
<strong>Gender:</strong> <%= @pet.gender.titleize %><br>
<br>
<strong>Bio:</strong> <%= @pet.bio %>

<br>
<br>
<%=link_to "Rent Me!", rents_path %><br> <!-- figure out function for user, not index-->
<br>
<%=link_to "Review Me!", new_review_path %><br> <!-- figure out function for user, not index-->
<br>
<%=link_to "Adopt Me!", adoptions_path %> <!-- figure out function for user, not index-->
