<h1>Login Page</h1>  

<% if @error %>
    <%= @error%>
<%end%>

<h2> Log In </h2>

<%= form_tag "/login_form" do  %>
    <%= label_tag :name %><br>
    <%= text_field_tag :name %><br>
    <%= label_tag :password %> <br>
    <%= password_field_tag :password %><br>
    <%= submit_tag "Log In"%>
<%end%>