<body class="user_profile_page">
<div class="profile_container">
    <div class="user_header">
        <h1>My Profile </h1>
        <h2>Welcome <%=@current_user.name%>! </h2> <br>
    </div>
    <h3 class="sub_header">My Reviews</h3>
        <% @current_user.reviews.each do |review|%>
            Name of Pet: <%= link_to review.pet.name, pet_path(review.pet) %><br>
            Species: <%= review.pet.species %><br>
            My Rating: <%= review.rating %><br>
            My Review: <%= review.content %><br>
            <%= link_to "Update This Review", edit_review_path(review) %>
            <br>
            <%= link_to "Delete This Review", review, :method => :delete  %>
            <br><br>       
    <%end%>

    <h3 class="sub_header">My Pet Rentals</h3>
        <% @current_user.rents.each do |rent|%>
            Name of Pet: <%= link_to rent.pet.name, pet_path(rent.pet) %><br>
            Species: <%= rent.pet.species %><br>
            Duration: <%= rent.duration%> Minutes <br>
            Location: <%= rent.location%> <br>
            <%= link_to "Update This Appointment ", edit_rent_path(rent) %>
            <br>
            <%= link_to "Cancel This Appointment", rent, :method => :delete  %>
            <br><br>
    <%end%>

    <h3 class="sub_header">My Adoptions</h3>
        <% @current_user.adoptions.each do |adoption|%>
            Name of Pet: <%= link_to adoption.pet.name, pet_path(adoption.pet) %><br>
            Species: <%= adoption.pet.species %><br>
        
            <br>
    <%end%>
</div>
</body>