<h1> reviews/new </h1>
<h1> Hello World </h1>

<%= form_for @review do |f| %>
    <%= f.label "Pet's Name" %>
    <%= collection_select :pet, :pet_id, Pet.all, :id, :name %><br>
    <br>
    <%= f.label :rating %>
    <%= f.number_field :rating %><br>
    <br>
    <%= f.label :content %>
    <%= f.text_area :content %><br>
    <br>

    <%= f.submit %>

<% end %>