<!DOCTYPE html>
<html>
  <head>
    <title>PetsProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="nav_container">
      <ul class = "nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link" href=<%= home_path %>>Home</a>
          </li>
        <%if logged_in_status %>
          <li class="nav-item">
          <a class="nav-link" href=<%= pets_path %>>All Pets</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href=<%= user_path(@current_user) %>>My Profile</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href=<%= new_review_path %>>Write a Review!</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href=<%= new_rent_path %>>Book a Playdate!</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href=<%= new_adoption_path %>>Adopt Me!</a>
          </li>
        <%end%>
          <li class="nav-item">
            <a class="nav-link" href=<%= about_path %>>About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=<%= contact_path %>>Contact MVP</a>
          </li>

        <%if logged_in_status %>
        <li class="nav-item">
            <%= link_to "Log Out", logout_path, method: :delete, class: "nav-link" %>
          </li>
          <li class="nav-item">
              <%= link_to "Delete My Account", @current_user, method: :delete, class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
              <%= link_to "Login", login_path, method: :get, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Signup", signup_path, method: :get, class: "nav-link" %>
          </li>
        <%end%>
      </ul>
   </div>

    <hr>
    <br>



    <%= yield %>

    <footer>
      <p>Flatiron School - Mod2 - Rails Project @ 2020</p>
      <p>Dong Xia - <a href="https://github.com/Dong-Yi-Xia" target="_blank"> GitHub </a></p>
      <p>Emmanuel Jose  - <a href="https://github.com/emjose" target="_blank"> GitHub </a></p>
    
     </footer>



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>
