<!DOCTYPE html>
<html>
  <head>
    <title>PetsProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if logged_in_status %>

      <nav>
        LOGGED IN: <%= @current_user.name %> 
        <%= button_to "LOG OUT", logout_path, method: :delete %>
      </nav>

    <% else %>
      <nav> 
        <%= button_to "LOGIN", login_path, method: :get%> <br>
        <%= button_to "Signup", signup_path, method: :get%>
      </nav>

  <%end%>

  <nav>
    <a>link 1</a>
    <a>link 2</a>
    <a>link 3</a>
  </nav>


    <%= yield %>
  </body>
</html>
