<!DOCTYPE html>
<html>
  <head>
    <title>PetsProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav>
      <a><%=link_to "Home", home_path %></a>
      <a><%=link_to "All Pets", pets_path %></a>
      <a><%=link_to "My Profile", users_path(@current_user) %></a>
      <a><%=link_to "Reviews", reviews_path %></a>
      <a>About</a>
      <a>Contact</a>
    </nav>
    <br>
    <hr>
    <br>
  <% if logged_in_status %>

      <nav>
        LOGGED IN: <%= @current_user.name %> <br>
        <br>
        <%= button_to "LOG OUT", logout_path, method: :delete %>
        
      </nav>

    <% else %>
      <nav> 
        <%= button_to "LOGIN", login_path, method: :get%> <br>
        <%= button_to "Signup", signup_path, method: :get%>
      </nav>

  <%end%>

    <%= yield %>
  </body>
</html>
